.idea/
.project
.classpath
target/
src/test/resources/selenium_standalone_binaries/
src/test/resources/selenium_standalone_zips/
*.DS_Store
viu-browser-automation.iml
test-output/
.settings/
src/test/resources/geckodriver
src/test/resources/chromedriver
src/test/resources/geckodriver.exe
src/test/resources/chromedriver.exe
*.pdf
node_modules/
package-lock.json
target/
*.iml
*.log